@using VirtualExpo.Model.Data
@using VirtualExpo.Model.Enums
@using VirtualExpo.Bll
@using VirtualExpo.Bll.Helpers
@using System
@section Scripts
{
    <script src="~/js/ExpoAdmin/Exhibition/AddEditExhibition.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js?v=@DateTime.Now.Ticks.ToString()"></script>

}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsOrganizer = User.IsInRole(UserRoleType.Organizer.ToString());
    bool IsExhibitor = User.IsInRole(UserRoleType.Exhibitor.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsOrganizer)
    {
        typeofUserLogin = "Organizer";
    }
    if (IsExhibitor)
    {
        typeofUserLogin = "Exhibitor";
    }
    var data = (Exhibition)ViewBag.data;
    var Title = ViewBag.title;

    var status = Enum.GetValues(typeof(ExhibitionStatus)).Cast<ExhibitionStatus>().ToList();
    //var use = Enum.GetValues(typeof(UserRoleType)).Cast<UserRoleType>().ToList();
    string ExhibitionStatus = EnumHelper.GetEnumByValue<ExhibitionStatus>(data.ExhibitionStatus.ToString()).ToString();
    //string typeofuser = EnumHelper.GetEnumByValue<UserRoleType>(data.UserType.ToString()).ToString();
    string ActiveStatus = EnumHelper.GetEnumByValue<ExhibitionStatusActiveOrNot>(data.Status.ToString()).ToString();

    var ExhibitionStatusActiveOrNot = new List<string>();
    foreach (var g in ActiveStatus)
    {
        ExhibitionStatusActiveOrNot.Add(String.Join(Environment.NewLine, g));
    }
    var ExhibitionStatuses = new List<string>();
    foreach (var g in status)
    {
        ExhibitionStatuses.Add(String.Join(Environment.NewLine, g));
    }

    BllUser bllUser = new BllUser();
    //var usertypes = new List<string>();
    //foreach (var g in use)
    //{
    //    usertypes.Add(String.Join(Environment.NewLine, g));
    //}
    var LoginUserId = Convert.ToInt32(User.Identity.Name);
    var Loguser = (User)bllUser.GetByPK(LoginUserId);
    bool trp = false;
    //if (Loguser.UserType == 1) {
    //    trp = true;
    //}
    //else
    //{
    //    trp = false;
    //}

}
<input type="hidden" id="hfUserId" value="@data.Id" />
<input type="hidden" id="hfOrganizerid" value="@Convert.ToInt32(User.Identity.Name)" />
<div class="row">

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div id="BasicInfo" class="card">
            <div class="card-header">
                <strong>@Title</strong>
                @if (IsAdmin)
                {
                    @if (data.Id != 0)
                    {
                        @if (ExhibitionStatus == "Rejected")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Approved');">
                                <span class="material-icons">
                                    thumb_up_alt
                                </span>
                                <span style="position: relative;top: -6px;">Approve</span>
                            </a>
                        }
                        else if (ExhibitionStatus == "Approved")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Rejected');">
                                <span class="material-icons">
                                    trending_down
                                </span>
                                <span style="position: relative;top: -6px;">Rejected</span>
                            </a>
                        }
                        @if (ExhibitionStatus == "Pending")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Approved');">
                                <span class="material-icons">
                                    thumb_up_alt
                                </span>
                                <span style="position: relative;top: -6px;">Approve</span>
                            </a>
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeStatus('Rejected');">
                                <span class="material-icons">
                                    trending_down
                                </span>
                                <span style="position: relative;top: -6px;">Rejected</span>
                            </a>
                        }
                    }
                }
                @if (IsOrganizer)
                {
                    if (ExhibitionStatus == "Approved")
                    {
                        @if (ActiveStatus == "Inactive")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeExhibitionStatus('Active');">
                                <span class="material-icons">
                                    thumb_up_alt
                                </span>
                                <span style="position: relative;top: -6px;">Live Exhibition (Active)</span>
                            </a>
                        }
                        else if (ActiveStatus == "Active")
                        {
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeExhibitionStatus('Inactive');">
                                <span class="material-icons">
                                    trending_down
                                </span>
                                <span style="position: relative;top: -6px;">Stop Exhibition (InActive)</span>
                            </a>
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" onclick="ChangeExhibitionStatus('End');">
                                <span class="material-icons">
                                    trending_down
                                </span>
                                <span style="position: relative;top: -6px;">End Exhibition (End)</span>
                            </a>
                        }
                    }
                }

            </div>

            <div class="card-body card-block">
                <div id="div_message" class="note failure">
                    <p>
                        <span id="span_message"></span>
                    </p>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Name</label></div>
                    <div class="col-12 col-md-9">
                        <input class="form-control" id="txtName" type="text" value="@data.Name" @(ViewBag.IsAdd ? "disabled" : "") required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-9">
                        <input class="form-control" id="txtDescription" type="text" value="@data.Description" @(ViewBag.IsAdd ? "disabled" : "") required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Organizer Name</label></div>
                    <div class="col-12 col-md-9">
                        <input class="form-control" id="txtOrganizername" type="text" value="@data.OraganizerName" @(ViewBag.IsAdd ? "disabled" : "") required ">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Start Date</label></div>
                    <div class="col-12 col-md-9">
                        <input class="form-control" id="txtStartDate" type="datetime" value="@data.StartDate" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">End Date</label></div>
                    <div class="col-12 col-md-9">
                        <input class="form-control" id="txtEndDate" type="datetime" value="@data.EndDate" @(ViewBag.IsAdd ? "disabled" : "")>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Status</label></div>
                    <div class="col-12 col-md-9">
                        <select class="form-control" id="txtStatus" name="txtStatus" required @(trp ? "" : "disabled") @(ViewBag.IsAdd ? "disabled" : "")>
                            @foreach (var gender in ExhibitionStatuses)
                            {
                                if (gender == ExhibitionStatus)
                                {
                                    <option id="genders" selected>@gender</option>
                                }
                                else
                                {
                                    <option id="genders">@gender</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                @*

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="hf-email" class=" form-control-label">CNIC</label></div>
                                <div class="col-12 col-md-9">
                                    <input class="form-control" id="txtCNIC" type="text" value="@data.CNIC" @(ViewBag.IsAdd ? "disabled" : "") required maxlength="20">
                                </div>
                            </div>
                            @if (Loguser.UserType == 1)
                            {
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">User Type</label></div>
                                    <div class="col-12 col-md-9">
                                        <select class="form-control" id="txtUserType" name="txtUserType" required>
                                            @foreach (var usertype in usertypes)
                                            {
                                                if (usertype == typeofuser)
                                                {
                                                    <option id="usertype" selected>@usertype</option>
                                                }
                                                else
                                                {
                                                    <option id="usertype">@usertype</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            }


                            <div class="row form-group">
                                <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Telephone</label></div>
                                <div class="col-12 col-md-9">
                                    <input class="form-control" id="txtTelephone" type="text" required value="@data.Telephone" @(ViewBag.IsAdd ? "disabled" : "") maxlength="20">
                                </div>
                            </div>
                        </div>
                    </div>*@


                <div class="card-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="SaveExhibition();">
                        <i class="material-icons " id="iconcss" style="">save</i>Save
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm" onclick="Cancel();">
                        <i class="material-icons" id="iconcss">cancel</i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2"></div>

<button id="fixedbutton" class="btn bg-success rounded-circle" data-toggle="modal" data-target="#ChatModal"><span class="material-icons pt-2 text-white" style="font-size:50px;">mark_chat_unread</span></button>



<div class="modal fade" id="ChatModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exhibition Room</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row" style="background : #d5dbdb;">

                        <div class="container">
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-2">Sender</div>
                                <div class="col-4"><input type="text" id="senderInput" /></div>
                            </div>
                            <div class="row">
                                <div class="col-2">Receiver</div>
                                <div class="col-4"><input type="text" id="receiverInput" /></div>
                            </div>
                            <div class="row">
                                <div class="col-2">Message</div>
                                <div class="col-4"><input type="text" id="messageInput" /></div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="button" id="sendButton" value="Send Message" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <ul id="messagesList"></ul>
                            </div>
                        </div>
                    </div><!-- row ends here -->
                </div> <!-- container-fluid -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
