@using VirtualExpo.Model.Data

@using VirtualExpo.Model.Enums
@using VirtualExpo.Bll
@using VirtualExpo.Bll.Helpers
@section Scripts
{
    <script src="~/js/ExpoAdmin/Organizer/AddEditExhibitor.js?v=@DateTime.Now.Ticks.ToString()"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Chat.js?v=@DateTime.Now.Ticks.ToString()"></script>
}
@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsOrganizer = User.IsInRole(UserRoleType.Organizer.ToString());
    bool IsExhibitor = User.IsInRole(UserRoleType.Exhibitor.ToString());
    var data = (User)ViewBag.data;
    var Title = ViewBag.title;
    //BllExhibitorDescription bllExhibitorDescription = new BllExhibitorDescription();
    var Exhibitordata = (ExhibitorDescription)ViewBag.ExhibitorDescription;
    bool Ifadded = false;
    if (Exhibitordata.Id != 0)
    {
        Ifadded = true;
    }
    else
    {
        Ifadded = false;
    }

    var gen = Enum.GetValues(typeof(GenderType)).Cast<GenderType>().ToList();
    var use = Enum.GetValues(typeof(UserRoleType)).Cast<UserRoleType>().ToList();
    string usergender = EnumHelper.GetEnumByValue<GenderType>(data.GenderType.ToString()).ToString();
    string typeofuser = EnumHelper.GetEnumByValue<UserRoleType>(data.UserType.ToString()).ToString();

    var genders = new List<string>();
    foreach (var g in gen)
    {
        genders.Add(String.Join(Environment.NewLine, g));
    }

    BllUser bllUser = new BllUser();

    //var userdata = bllUser.GetAllUsers();
    var usertypes = new List<string>();
    foreach (var g in use)
    {
        usertypes.Add(String.Join(Environment.NewLine, g));
    }
    var LoginUserId = data.Id;
    BllExhibition bllExhibition = new BllExhibition();

    var AllExhibitions = bllExhibition.GetOrganizersExhibition(Convert.ToInt32(User.Identity.Name));
    if (IsExhibitor)
    {
        AllExhibitions = bllExhibition.GetAllApproveAndUpcoming();
    }
    var Exhibition = bllExhibition.ByOrganizerId(LoginUserId);

    //var Loguser = (User)bllUser.GetByPK(LoginUserId);
    var user = bllUser.GetByPK(Convert.ToInt32(User.Identity.Name));


    var ExhibitionRoll = bllExhibition.GetByPK(Convert.ToInt32(Exhibitordata.Exibition_id));

    BllMessage bllMessage = new BllMessage();
    List<Message> Messages = new List<Message>();
    if (user.UserType == 3)
    {
        Messages = bllMessage.GetAllMessageByExhibition(ExhibitionRoll.Id.ToString());
    }



}
<input type="hidden" id="hfUserId" value="@data.Id" />


<div class="row">

    <!--
    start Lead
    -->
    <div class="col-lg-12">
        <div id="BasicInfo1" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
            <div class="card-header">
                <strong>@Title</strong>
                @if (data.Id != 0)
                {
                    if (IsExhibitor)
                    {
                        <div class="right mT10">
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" asp-action="AddEditMediaLinks" asp-controller="Exhibitor" asp-route-Exhibitionid="@Exhibitordata.Id">

                                <span style="position: relative;top: -6px;">Add Media Links</span>
                            </a>
                        </div>
                        <div class="right mT10">
                            <a class="btn btn-primary btn-sm float-right" style="margin-right: 20px;" asp-action="AddEditSocialNetwork" asp-controller="Exhibitor" asp-route-Exhibitionid="@Exhibitordata.Id">

                                <span style="position: relative;top: -6px;">Add Social Network</span>
                            </a>
                        </div>
                    }
                }
            </div>

            <div class="card-body card-block">
                <div id="div_message" class="note failure">
                    <p>
                        <span id="span_message"></span>
                    </p>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">User Type</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtUserType" disabled name="txtUserType">
                            @foreach (var usertype in usertypes)
                            {
                                if (usertype == "Exhibitor")
                                {
                                    <option id="usertype" selected>@usertype</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Image</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="AdminImage" name="AdminImage" type="file" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">First Name</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtFirstName" type="text" value="@data.FirstName" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Last Name</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtLastName" type="text" value="@data.LastName" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">User Name </label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtUserName" type="text" value="@data.UserName" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Email</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtEmail" type="text" value="@data.Email" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Password</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtPassword" type="password" value="@data.Password" required @(ViewBag.IsAdd ? "disabled" : "") />
                        <input id="chkShowHidePassword" type="checkbox" onchange="ShowHidePassword(this, 'txtPassword');" @(ViewBag.IsAdd ? "disabled" : "") style="margin-top:15px;" />
                        <label for="chkShowHidePassword" style="margin-bottom:0px;"> Show Password</label>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">CNIC</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtCNIC" type="text" value="@data.CNIC" required @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Gender</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtGender" name="txtGender" required @(ViewBag.IsAdd ? "disabled" : "")>
                            @foreach (var gender in genders)
                            {
                                if (gender == usergender)
                                {
                                    <option id="genders" selected>@gender</option>
                                }
                                else
                                {
                                    <option id="genders">@gender</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Telephone</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtTelephone" type="text" required value="@data.Telephone" @(ViewBag.IsAdd ? "disabled" : "")>
                    </div>
                </div>
                <br />


            </div>
        </div>
    </div>
</div>


<div id="BasicInfo2" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px; margin-top: 50px;">

    <div class="card-header">
        <strong>Exhibitor Detail</strong>
    </div>

    <div class="card-body card-block">
        <br />

        <div class="row form-group">
            <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Exhibitior Name</label></div>
            <div class="col-12 col-md-3">
                <input class="form-control" id="txtSector" type="text" required value="@Exhibitordata.Name" @(ViewBag.IsAdd ? "disabled" : "")>
            </div>
            <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Exhibitior Moto</label></div>
            <div class="col-12  col-md-3">
                <input class="form-control" id="txtFlightNo" type="text" value="@Exhibitordata.Moto" @(ViewBag.IsAdd ? "disabled" : "")>
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Exhibitior Offer</label></div>
            <div class="col-12 col-md-3">
                <input class="form-control" id="txtDepartureDate" type="text" required value="@Exhibitordata.Offer" @(ViewBag.IsAdd ? "disabled" : "")>
            </div>
            <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Exhibition</label></div>
            <div class="col-12  col-md-3">
                <select class="form-control" id="txtExhibitionId" name="txtAssignTo" @(Ifadded ? "disabled" : "")>
                    @foreach (var exhib in AllExhibitions)
                    {
                        @if (Exhibitordata.Exibition_id == exhib.Id)
                        {
                            <option value="@exhib.Id" selected>@Html.Raw(exhib.Name)</option>
                        }
                        else
                        {
                            <option value="@exhib.Id">@Html.Raw(exhib.Name)</option>
                        }
                    }
                </select>
            </div>

        </div>


        <br />


    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm float-right" onclick="SaveUser();">
            <i class="material-icons " id="iconcss" style="">save</i>SaveExhibitor
        </button>
    </div>
</div>

@if (data.Id != 0)
{
    <div class="row" id="hiddenPictureDiv">
        <div class="col-lg-12">
            <div id="BasicInfo" class="card">
                <div class="card-header">
                    <strong>Exhibitor Picture</strong>
                </div>
                <div class="card-body card-block">
                    <div id="divLogos" class="left" style="margin:0px;  margin-left: 25.7%; margin-bottom:10px;">

                    </div>

                    <div id="div_no_found" class="hide alert alert-info " style="width: 40%; margin-left: 25.7%;">
                        <h3>No Picture found.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script id="ListTemplateLogos" type="text/x-jsrender">

        <div class="left thumbnailBox">

            <div class="thumbnail">
                <img src="/images/User/{{:id}}/{{:picture}}" title="T2_{{:picture}}" />
            </div>

            <div class="links">
                <a onclick="Delete({{:id}});">Delete</a>
            </div>


        </div>

    </script>

}

@if (Ifadded && user.UserType == 3 && ExhibitionRoll != null)
{
    <button id="fixedbutton" style=" position: fixed; bottom: 0px; right: 0px;" class="btn bg-success rounded-circle" data-toggle="modal" data-target="#ChatModal"><span class="material-icons pt-2 text-white" style="font-size:50px;">mark_chat_unread</span></button>



    <div class="modal fade" id="ChatModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Exhibition Room (@ExhibitionRoll.Name)</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <input type="hidden" id="senderInput" value="@user.UserName" />
                        <input type="hidden" id="receiverInput" value="@ExhibitionRoll.Id" />
                        <div id='recievedmessagediv' class="row pt-2 justify-content-start">
                            @*<div class="col-sm-2 mt-2">
                                    <img class="card-img rounded-circle mx-auto d-block" style="width: 40px; height: 40px;" src="gcu.jpg" alt="Card image">
                                </div>*@
                            <div class="col-sm-10 ml-2 mt-2 p-1 border rounded-right rounded-top" style="height: 350px; overflow-y: scroll;">
                                <ul id="messagesList" style=" list-style-type: none;">
                                    @foreach (var message in Messages)
                                    {
                                        <li style="background: rgb(229, 232, 232); padding: 8px; border-radius: 10px; margin-top: 8px;">
                                            @Html.Raw(message.SenderName + " says :" + message.MessageText)
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- Bottom Footer Starts Here -->
                        <div id='bottompanel' class="row" style="background : #d5dbdb;">
                            <div class="col-md-9">
                                <input id="messageInput" class="form-control" type="text" placeholder="Type Your Message Here!">
                            </div>
                            <a id="myBtn" class=" col-md-3 btn btn-dark" onclick="">
                                Send
                            </a>
                        </div>
                        <!--Footer/row ends here -->
                    </div> <!-- container-fluid -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



}

