@using VirtualExpo.Model.Data

@using VirtualExpo.Model.Enums
@using VirtualExpo.Bll
@using VirtualExpo.Bll.Helpers
@section Scripts
{
    <script src="~/js/ExpoAdmin/User/AddEditUser.js?v=@DateTime.Now.Ticks.ToString()"></script>
}
@{
    var data = (User)ViewBag.data;
    var Title = ViewBag.title;

    var gen = Enum.GetValues(typeof(GenderType)).Cast<GenderType>().ToList();
    var use = Enum.GetValues(typeof(UserRoleType)).Cast<UserRoleType>().ToList();
    string usergender = EnumHelper.GetEnumByValue<GenderType>(data.GenderType.ToString()).ToString();
    string typeofuser = EnumHelper.GetEnumByValue<UserRoleType>(data.UserType.ToString()).ToString();

    var genders = new List<string>();
    foreach (var g in gen)
    {
        genders.Add(String.Join(Environment.NewLine, g));
    }

    BllUser bllUser = new BllUser();
    var usertypes = new List<string>();
    foreach (var g in use)
    {
        usertypes.Add(String.Join(Environment.NewLine, g));
    }
    //var LoginUserId = Convert.ToInt32( User.Identity.Name);

    //var Loguser = (User)bllUser.GetByPK(LoginUserId);




}
<input type="hidden" id="hfUserId" value="@data.Id" />




<div class="row">

    <!--
    start Lead
    -->
    <div class="col-lg-12">
        <div id="BasicInfo1" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px;">
            <div class="card-header">
                <strong>@Title</strong>
            </div>

            <div class="card-body card-block">
                <div id="div_message" class="note failure">
                    <p>
                        <span id="span_message"></span>
                    </p>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">User Type</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtUserType" disabled name="txtUserType">
                            @foreach (var usertype in usertypes)
                            {
                                if (usertype == "Organizer")
                                {
                                    <option id="usertype" selected>@usertype</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">First Name</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtFirstName" type="text" value="@data.FirstName" required>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Last Name</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtLastName" type="text" value="@data.LastName" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">User Name </label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtUserName" type="text" value="@data.UserName" IsUserName @(ViewBag.IsAdd ? "disabled" : "") required>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Email</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtEmail" type="text" value="@data.Email" IsEmail required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Password</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtPassword" type="password" value="@data.Password" required />
                        <input id="chkShowHidePassword" type="checkbox" onchange="ShowHidePassword(this, 'txtPassword');" style="margin-top:15px;" />
                        <label for="chkShowHidePassword" style="margin-bottom:0px;"> Show Password</label>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">CNIC</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtCNIC" type="text" value="@data.CNIC" required onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                               maxlength="15" 
                               IsCNIC>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Gender</label></div>
                    <div class="col-12 col-md-3">
                        <select class="form-control" id="txtGender" name="txtGender" required>
                            @foreach (var gender in genders)
                            {
                                if (gender == usergender)
                                {
                                    <option id="genders" selected>@gender</option>
                                }
                                else
                                {
                                    <option id="genders">@gender</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col offset-md-1 col-md-2"><label for="hf-email" class=" form-control-label">Telephone</label></div>
                    <div class="col-12  col-md-3">
                        <input class="form-control" id="txtTelephone" type="text" required value="@data.Telephone" maxlength="13" 
                           MinPassLength  onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Image</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="OrganizerImage" name="OrganizerImage" type="file" required>
                    </div>
                </div>

            </div>
        </div>
        <div id="BasicInfo2" class="card" style="padding-bottom: 0px !important; margin-bottom: 0px; margin-top: 50px;">

            <div class="card-header">
                <strong>Organizer Detail</strong>
            </div>

            <div class="card-body card-block">
                <br />

                <div class="row form-group">
                    <div class="col col-md-2"><label for="hf-email" class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-3">
                        <input class="form-control" id="txtSector" type="text" required value="@data.Description">
                    </div>

                </div>


                <br />


            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="SaveUser();">
                    <i class="material-icons " id="iconcss" style="">save</i>Save
                </button>
            </div>
        </div>
    </div>


</div>

<div class="row" id="hiddenPictureDiv">
    <div class="col-lg-12">
        <div id="BasicInfo" class="card">
            <div class="card-header">
                <strong>Organizer Picture</strong>
            </div>
            <div class="card-body card-block">
                <div id="divLogos" class="left" style="margin:0px;  margin-left: 25.7%; margin-bottom:10px;">

                </div>

                <div id="div_no_found" class="hide alert alert-info " style="width: 40%; margin-left: 25.7%;">
                    <h3>No Picture found.</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="ListTemplateLogos" type="text/x-jsrender">

    <div class="left thumbnailBox">

        <div class="thumbnail">
            <img src="/images/User/{{:id}}/{{:picture}}" title="T2_{{:picture}}" />
        </div>

        <div class="links">
            <a onclick="Delete({{:id}});">Delete</a>
        </div>


    </div>

</script>