<!-- Header-->
@using VirtualExpo.Bll
@using VirtualExpo.Model.Data
@using VirtualExpo.Model.Enums;

@{
    bool IsAdmin = User.IsInRole(UserRoleType.Admin.ToString());
    bool IsExhibitor = User.IsInRole(UserRoleType.Exhibitor.ToString());
    bool IsOrganizer = User.IsInRole(UserRoleType.Organizer.ToString());
    string typeofUserLogin = "";
    if (IsAdmin)
    {
        typeofUserLogin = "Admin";
    }
    if (IsExhibitor)
    {
        typeofUserLogin = "Exhibitor";
    }
    if (IsOrganizer)
    {
        typeofUserLogin = "Organizer";
    }



    var userlogin = Convert.ToInt32(User.Identity.Name);
}
<header id="header" class="header">
    <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left">
                <span class="material-icons">
                    menu
                </span>
            </a>
        </div>
        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                @if (IsAdmin)
                {
                    <a onclick="Logout('Admin');" style="cursor:pointer;" >
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                    <a asp-action="AddEditUser" asp-controller="@typeofUserLogin" asp-route-id="@userlogin" asp-route-Code="" asp-route-Type="" style="margin-left:13px;">
                        <span class="material-icons">
                            account_circle
                        </span>
                    </a>
                }
                @if (IsExhibitor)
                {
                    <a onclick="Logout('Exhibitor');" style="cursor:pointer;" >
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                    <a asp-action="AddEditUser" asp-controller="@typeofUserLogin" asp-route-id="@userlogin" asp-route-Code="" asp-route-Type="" style="margin-left:13px;">
                        <span class="material-icons">
                            account_circle
                        </span>
                    </a>
                }
                @if (IsOrganizer)
                {
                    <a onclick="Logout('Organizer');" style="cursor:pointer;" >
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                    <a asp-action="AddEditUser" asp-controller="@typeofUserLogin" asp-route-id="@userlogin" asp-route-Code="" asp-route-Type="" style="margin-left:13px;">
                        <span class="material-icons">
                            account_circle
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
</header>
<!-- Header-->