@using VirtualExpo.Bll

@{
    int id = ViewBag.ExibitionId;
    BllExhibition bllExhibition = new BllExhibition();
    var Exhibition = bllExhibition.GetByPK(Convert.ToInt32(id));
    BllUser bllUser = new BllUser();
    var orgranizer = bllUser.GetByPK(Exhibition.Organizer_User_Id);

}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" style="color: red" onclick="closeNav()">&times;</a>
    <p>------------------------------------</p>
    <a asp-action="ExhibitionHome" asp-controller="Attendee" asp-route-id="@id">Pavillon</a>
    <a asp-action="ExpoBrands" asp-controller="Attendee" asp-route-id="@id">Exhibitors</a>
    <a asp-action="ExpoInfo" asp-controller="Attendee" asp-route-id="@id">Info</a>
    <p>------------------------------------</p>
    <a asp-action="MyProfile" asp-controller="Attendee" asp-route-id="@User.Identity.Name" asp-route-exhibitionid="@id">My Profile</a>
    <a onclick="Logout('Attendee');">Logout</a>
    <p>------------------------------------</p>
    <a asp-action="ExpoOrganizer" asp-controller="Attendee" asp-route-id="@id" asp-route-OrganizerId="@Exhibition.Organizer_User_Id">Organizer Profile</a>

</div>

<div class="row-fluid bg-secondary p-2">

    <div class="col">
        <button class="btn bg-success rounded"><b> <span style="font-size:25px; cursor:pointer; color: white" onclick="openNav()">&#9776; Menu</span></b></button>
    </div>

</div>
