@using VirtualExpo.Bll
@using VirtualExpo.Model.Data
@{
    var id = ViewBag.ExibitionId;
    var brandId = ViewBag.BrandId;
    BllExhibitorDescription bllExhibitorDescription = new BllExhibitorDescription();
    ExhibitorDescription brand = bllExhibitorDescription.GetByPK(brandId);

    BllUser bllUser = new BllUser();
    var user = bllUser.GetByPK(brand.UserId);

    BllMediaLinks bllMediaLinks = new BllMediaLinks();
    var mediaLinks = bllMediaLinks.GetAllMediaLinks(brand.Id);
    BllSocialNetwork bllSocialNetwork = new BllSocialNetwork();
    var socialNetworkLinks = bllSocialNetwork.GetByExhiitorId(brand.Id);

}
<div class="container-fluid">
    <div class="row  bg-secondary text-center">
        <div class="col p-2"><h5 class="text-white">@brand.Name</h5></div>
    </div>
    <a class="btn btn-warning text-white m-4" asp-action="ExhibitionHome" asp-controller="Attendee" asp-route-id="@id">Back To Pavillion</a>


    <div class="row mt-5 ml-5 text-center">

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card cardForBrands rounded-circle bg-secondary " data-toggle="modal" data-target="#ProfilePopup" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-2" style="font-size:70px;">person_outline </span>
                <br>
                <p class="text-muted ">PROFILE</p>
            </div>
        </div>

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card rounded-circle bg-primary cardForBrands" data-toggle="modal" data-target="#OfferPopup" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-2" style="font-size:70px;">business_center </span>
                <br>
                <p class="text-muted ">OFFERS</p>
            </div>
        </div>

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card rounded-circle bg-success cardForBrands" data-toggle="modal" data-target="#VideoPopUp" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-2" style="font-size:70px;">videocam </span>
                <br>
                <p class="text-muted ">VIDEO</p>
            </div>
        </div>

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card rounded-circle bg-danger cardForBrands" data-toggle="modal" data-target="#DownloadPopUp" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-2" style="font-size:70px;">cloud_download </span>
                <br>
                <p class="text-muted ">File</p>
            </div>
        </div>

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card rounded-circle bg-warning cardForBrands" data-toggle="modal" data-target="#LinksPopUp" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-2" style="font-size:80px;">forward </span>
                <br>
                <p class="text-muted ">LINK</p>
            </div>
        </div>

        @if (socialNetworkLinks != null)
        {
            <div class="col-lg-2 mt-5 pb-4">
                <!--  -->
                <div class="card rounded-circle bg-info cardForBrands" data-toggle="modal" data-target="#SocialNetworkPopUp" style="height:100px; width: 100px;">
                    <span class="material-icons text-white pt-3" style="font-size:70px;">share </span>
                    <br>
                    <p class="text-muted ">SOCIAL NETWORKS</p>
                </div>
            </div>
        }

        <div class="col-lg-2 mt-5 pb-4">
            <!--  -->
            <div class="card rounded-circle bg-info cardForBrands" data-toggle="modal" data-target="#PosterPopUp" style="height:100px; width: 100px;">
                <span class="material-icons text-white pt-3" style="font-size:70px;">photo_size_select_actual </span>
                <br>
                <p class="text-muted ">POSTERS</p>
            </div>
        </div>

    </div>

</div> <!-- Container Fluid Ends Here -->
<div class="modal fade" id="ProfilePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>@brand.Name</h4>
                <h4>@user.Email</h4>
                <h4>@user.Telephone</h4>
                <p>@brand.Moto</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OfferPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>@brand.Offer</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="VideoPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Videos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var medialink in mediaLinks)
                {
                    <h4>@medialink.VideoDescription</h4>
                    <div class="col-md-12">
                        <video controls class="col-md-12">
                            <source src="/images/MediLinks/@medialink.Id/Video/@medialink.Video" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>                
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DownloadPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var medialink in mediaLinks)
                {
                    <h4>@medialink.DownloadDescription</h4>
                    <iframe src="/images/MediLinks/@medialink.Id/Download/@medialink.Download" style="width:100%; height:500px; " frameborder="0"></iframe>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LinksPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Links</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var medialink in mediaLinks)
                {
                    <h4>@medialink.LinkDescription</h4>
                    <a href="@medialink.Link" target="_blank">@medialink.Link</a>
                    //<input class="form-control" id="txtLink" type="text" value="@medialink.Link">
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (socialNetworkLinks != null)
{
    <div class="modal fade" id="SocialNetworkPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Social Links</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Instagram</h6>
                    <a href="@socialNetworkLinks.Instagram" target="_blank">@socialNetworkLinks.Instagram</a>
                    <h6>Facebook</h6>
                    <a href="@socialNetworkLinks.Facebook" target="_blank">@socialNetworkLinks.Facebook</a>
                    <h6>Linkdin</h6>
                    <a href="@socialNetworkLinks.Linkdin" target="_blank">@socialNetworkLinks.Linkdin</a>
                    <h6>SnapChat</h6>
                    <a href="@socialNetworkLinks.SnapChat" target="_blank">@socialNetworkLinks.SnapChat</a>
                    <h6>Twitter</h6>
                    <a href="@socialNetworkLinks.Twitter" target="_blank">@socialNetworkLinks.Twitter</a>
                    <h6>Website</h6>
                    <a href="@socialNetworkLinks.Website" target="_blank">@socialNetworkLinks.Website</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="PosterPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Posters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var medialink in mediaLinks)
                {
                    <h4>@medialink.PictureDescription</h4>
                    <img class="col-md-12" src="/images/MediLinks/@medialink.Id/Picture/@medialink.Picture" title="@medialink.Picture" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>